@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  height: 100dvh;
}

#root {
  height: 100%;
}

main {
  height: 100%;
}

.section-container {
  padding: 1.25rem;
  padding-bottom: 12rem;
}
